@model PetFormModel

@{
    ViewData["Title"] = "Add Pet";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_PetFormPartial" model="@Model" />

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}