@model HotelRoomFormModel

@{
    ViewData["Title"] = "Delete hotel room";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}